@font-face {
    font-family: 'Safiro-Regular';
    src: url('https://github.com/laserpoiter/my-font/raw/main/Safiro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
